.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 10vh;
  background-color: #663399;
}
.dl {
  display: list-item;
  list-style-type: disc;
}
.project-card {
  background-color: #fcfcfc;
}
.project-card > img {
  width: 20vw;
}
.content-section {
  height:100vh;
}
.jumbotron-section {
  padding-top: 10vh;
}
.jumbotron {
  background: #532F8C;
  color: white;
  background: #663399;
  height: 90vh;
  width: 100%;}
  .jumbotron .btn-primary {
    background: #2F242C;
    border-color: #845ac7;}
    .jumbotron .btn-primary:hover {
      background: #7646c1;}
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
  }
  .info-card {
    margin: 50px 50px 50px 50px;
  }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 4px solid black; }
    .jumbotron .lang-logo img {
      max-width: 100%;}
