<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <section class="jumbotron-section">
    <% include ../partials/sections/jumbotron_section.ejs %>
  </section>

<div class="container">

  <section class="skills-section text-center content-section">
    <% include ../partials/sections/skills_section.ejs %>
  </section>

  <section class="project-section content-section">
    <% include ../partials/sections/projects_section.ejs %>
  </section> <!-- row -->

  <section class="personal-life-section content-section">
    <% include ../partials/sections/personal_life_section.ejs %>
  </section> <!-- row -->

  <section class="instagram-page-section content-section">
    <% include ../partials/sections/instagram_page_section.ejs %>
  </section> <!-- row -->

  <section class="contact-me-section content-section">
    <% include ../partials/sections/contact_me_section.ejs %>
  </section> <!-- row -->
</div>


</body>
</html>
