<div class="jumbotron text-center">
  <div class="container">
    <section>
      <a href="/" class="lang-logo">
        <img src="/static/images/me_thumbnail.png">
      </a>
      <div class="info-card">
        <h2> Paul Sheehan - Software Developer </h2>
        <p> BSc Computer Science </p>
      </div>
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Github </a>
      <!-- <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> LinkedIn </a>
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> HackerRank </a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Twitter </a> -->
    </section>
  </div>
</div>
