<h3 class="text-center"><span class="glyphicon glyphicon-info-sign"></span> Projects </h3>
<div class="col-md-8">
  <div class="container">
        <div class="col-md-8">
            <div class="project-card col-md-4-offset-2 project-card">
                <h2> Project 1 </h2>
                <img src=https://i.scdn.co/image/2fd8fa0f7ef2f83691a0fb9628ee369b8e3b688e class="img-responsive">
            </div>
            <div class="project-card col-md-4 project-card">
                <h2> Project 2 </h2>
                <img src=https://i.scdn.co/image/2fd8fa0f7ef2f83691a0fb9628ee369b8e3b688e class="img-responsive">
            </div>
        </div>
        <div class="col-md-8">
            <div class="project-card col-md-4 project-card">
                <h2> Project 3 </h2>
                <img src=https://i.scdn.co/image/2fd8fa0f7ef2f83691a0fb9628ee369b8e3b688e class="img-responsive">
            </div>
            <div class="project-card col-md-4 project-card">
                <h2> Project 4 </h2>
                <img src=https://i.scdn.co/image/2fd8fa0f7ef2f83691a0fb9628ee369b8e3b688e class="img-responsive">
            </div>
        </div>
      </div>
  </div>
</div>
