<div class="row">
  <h3 class="text-center"><span class="glyphicon glyphicon-info-sign"></span> Skills </h3>
  <div class="col-md-6">
    <dl>
      <dt> Strong Knowledge of Databases</dt>
      <dd> PostGres </dd>
      <dd> MySQL </dd>
      <dd> MongoDB </dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl>
      <dt> Strong Knowledge of OOP </dt>
      <dd> Design Patterns </dd>
      <dd> Dependency Injection </dd>
      <dd> Class-based inheritance </dd>
      <dd> Data Encapsulation </dd>
      <dd> ORM </dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dl>
      <dt> Full-Stack Experience </dt>

      <dd> Java - Android </dd>
      <dd> JavaScript </dd>
      <dd> Cloud Computing </dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl>
      <dt> No problem goes unsolved </dt>

      <dd> Sherlock-style critical thinking </dd>
      <dd> Ace Ventura level of Interigation </dd>
      <dd> Batman level of preperation </dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dl>
      <dt> A bit of Business knowhow </dt>

      <dd> 3 Startup Weekends </dd>
      <dd> Hackathon award winner </dd>
      <dd> A generator of interesting business ideas </dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl>
      <dt> Always learning/improving </dt>

      <dd> Speed Reading </dd>
      <dd> Meditation </dd>
      <dd> Note Taking </dd>
      <dd> Data Collector </dd>
    </dl>
  </div>
</div> <!-- row -->
